In [26]:
# standard Python imports
import os
import argparse
import time
import pickle

# 3rd party libraries
import numpy as np                              # this comes with Anaconda
import pandas as pd                             # this comes with Anaconda
import matplotlib.pyplot as plt                 # this comes with Anaconda
from scipy.optimize import approx_fprime        # this comes with Anaconda
from sklearn.tree import DecisionTreeClassifier # if using Anaconda, install with `conda install scikit-learn`
import sklearn

In [37]:
import utils
import grads

In [50]:
df = pd.read_csv(os.path.join('..','data','fluTrends.csv'))
X = df.values
names = df.columns.values
df.describe()

,NE,MidAtl,ENCentral,WNCentral,SAt1,ESCentral,WSCentral,Mtn,Pac,WtdILI
count,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000
mean,1.223346,1.233538,1.275269,1.460212,1.298827,1.562519,1.292346,1.270019,1.063212,1.566962
std,0.600227,0.567629,0.604401,0.814372,0.651459,0.828007,0.719825,0.893757,0.567485,0.864139
min,0.428000,0.483000,0.452000,0.464000,0.468000,0.554000,0.456000,0.352000,0.377000,0.606000
25%,0.728250,0.714750,0.711250,0.701750,0.737750,0.922250,0.708000,0.624250,0.556000,0.795250
50%,1.129500,1.116000,1.265000,1.277500,1.102500,1.416500,1.107500,0.978500,0.957000,1.303500
75%,1.663000,1.710750,1.656250,1.993000,1.756500,2.084000,1.757750,1.695750,1.458000,2.343000
max,2.310000,2.205000,2.515000,3.115000,2.714000,3.859000,3.219000,4.862000,2.660000,3.260000

In [56]:
a = np.concatenate(np.array(df))
np.min(a)

0.35200000000000004

[0.428,
 0.49,
 0.452,
 0.505,
 0.542,
 0.5539999999999999,
 0.499,
 0.35200000000000004,
 0.377,
 0.715]

In [61]:
np.quantile(a,.95)

2.624049999999999

In [39]:
df.quantile(.95)

NE           2.24040
MidAtl       2.17580
ENCentral    2.24955
WNCentral    2.93490
SAt1         2.49135
ESCentral    3.15795
WSCentral    2.53795
Mtn          2.80860
Pac          2.13315
WtdILI       3.12745
Name: 0.95, dtype: float64